
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

:root{
    --base-solida:#1F2D3D;
    --header:#F2F2F2;
    --destaque:#00BFA5;
    --equilibrio:#D3D3D3;
    --luminosidade:#F5CC00;
    --suavidade:#F3B1B3;
    --cor6:#FFFFFF;
    --cor7:#464646;
    --cor8:#EAEAEA;
    --cor9:#D7F6E2;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }

  0% {
    background-position: 0% 50%;
    transform: rotate(0deg);
  }
  100% {
    background-position: 100% 50%;
    transform: rotate(360deg);
  }
}


body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--base-solida);
  margin: 0;
  padding: 0;
}

header {
  height:60px;
  display: flex;
  position: fixed;
  background-color: var(--header);
  justify-content: space-around;
  align-items: center;
  color: var(--cor7);
  padding: 0px;
  text-align: center;
  box-shadow:0px 2px 4px rgba(78, 78, 78, 0.527);
  top: 0;
  left: 0;
  width: 100%;
}

.card-container{
  margin-top: 60px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  background-color: #f1f1f1;
}

.card-container a{
  display: inline-block;
  padding: 10px 13px;
  text-decoration: none;
  color: black;
}

.card-container img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0px;
  padding: 0px;
  border: 1px solid var(--destaque);
  box-shadow:2px 2px 4px rgba(78, 78, 78, 0.527);
}

.card-container p {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  border-radius: 10px;
  max-width: 800px;
  margin: 10px auto;
  padding: 0px;
  background-color: var(--base-solida);
 
}

#sidebar{
  position: fixed;
  top: 100px;
  left: -100vw;
  background-color: #1f2d3d8e;
  height: 100vh;
  width:40%;
  transition: 0.3s;
  box-shadow:0px 2px 4px rgba(78, 78, 78, 0.527);
}

.btn1{
  width: 50px;
  height: 30px;
  margin: 2px;
}

.btn2{
  background-color: #FF0000;
  border: none;
  background: linear-gradient(to right, #FF0000,#FF0000, #FF7F00, #FFFF00,#FF7F00,#FF0000,#FF0000);
  background-size: 600% 100%;
  color: #FFFFFF;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px;
  width: 80%;
  margin: 0px 20px;
  border-radius: 30px;
  animation: pulse 5s infinite;
}

.btn3{
  text-decoration: none;
  font-weight: 800;
}

.compartilhe{
  background-color: var(--equilibrio);
}

.compartilhe p{
  text-align: center;
  font-size: 15px;
  color: var(--cor7);
  font-weight: 500;
  
}


#sidebar li{
  border-radius: 5px;
  padding: 5px;
  margin: auto;

  color: var(--cor7);
  background-color: var(--luminosidade);
  text-align: center;
  width: 80%;
  margin: 5px auto;
}

#sidebar.open{
  transition: 0.3s;
  transform: translateX(100vw);
}

.img-title{
    width: 10%;
}

.recipe {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 60% 40%;
}

.recipe h2 {
  margin: 0;
  color: var(--destaque);
  padding: 10px;
  display: flex;
  height: 50px;
 
}

.recipe .title-receita{
  background-image: url('https://www.pngall.com/wp-content/uploads/4/5-Star-Rating-PNG.png');
  background-size: 20%;
  background-position: 100% 0px;
  background-repeat: no-repeat;
}

.recipe-left .card-receita{
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.recipe p {
  margin-top: 10px;
  padding: 20px;
  color: #F5CC00;
  font-size: 18px;
  letter-spacing: 0.9px;
}

.img-receita{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

li{
  font-size: 18px;
  padding: 10px;
  letter-spacing: 0.7px;
  color: var(--cor9);
  font-weight: 500;
  padding-bottom: 10px;
}

.img-icon{
    width: 50px;
}

footer{
  background-color: #f5f5f5;
  padding: 20px 0;
  text-align: center;
}

footer p{
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}
footer a{
  color: #888;
  text-decoration: none;
}

@media (min-width: 1024px){
  header {
    height:100px;
    display: flex;
    position: fixed;
    background-color: var(--header);
    justify-content: space-around;
    align-items: center;
    color: var(--cor7);
    padding: 0px;
    text-align: center;
    box-shadow:0px 2px 4px rgba(78, 78, 78, 0.527);
    top: 0;
    left: 0;
    width: 100%;
  }
  .img-title{
    width: 6%;
  }
  .card-container{
    margin-top: 100px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #f1f1f1;
  }

  main{
    width: 90%;
    max-width: 90%;
  }
}

/*celular*/
@media (max-width: 767px){
  header {
    height:60px;
    display: flex;
    position: fixed;
    background-color: var(--header);
    justify-content: space-around;
    align-items: center;
    color: var(--cor7);
    padding: 0px;
    text-align: center;
    box-shadow:0px 2px 4px rgba(78, 78, 78, 0.527);
    top: 0;
    left: 0;
    width: 100%;
  }
  .img-title{
    width: 10%;
  }
  .card-container{
    margin-top: 60px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #f1f1f1;
  }
  .img-receita{
    margin: 0px;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .recipe {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 100% 0%;
  }

  .ingredientes{
    display: grid;
    grid-template-columns: 60% 40%;
  }
  
  .recipe .title-receita{
    background-image: url('https://www.pngall.com/wp-content/uploads/4/5-Star-Rating-PNG.png');
    background-size: 30%;
    background-position: 100% 0px;
    background-repeat: no-repeat;
  }

  #sidebar{
    width:60%;
    top: 60px;
  }

}


.receita-unica{
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.receita-unica h2{
  background-image: url('https://www.pngall.com/wp-content/uploads/4/5-Star-Rating-PNG.png');
  background-size: 20%;
  background-position: 100% 0px;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  color: var(--destaque);
  padding: 20px;
  
}

.receita-unica p{
  margin-top: 10px;
  padding: 20px;
  color: #F5CC00;
  font-size: 18px;
  letter-spacing: 0.9px;
}

.receita-unica img{
  border-radius: 10px;
}